/*Estilos Todos los Banners*/

/*Estilos Banner Home*/
#intro-section {
  background-image:linear-gradient(180deg, $verde-oscuro, $sombra), url(../imgs/bannerhp.gif);
  width: $total;
  height: $bannerHP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:center;
  justify-content:auto;
  display:flex;
  align-items: center;
  margin-bottom: $alto; 
}

/*Estilos Banner Nosotros*/
#intro-section-nosotros {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-2.jpeg);
  width: $total;
  height: $bannerIP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:start;
  justify-content:auto;
  display:flex;
  margin-bottom: $alto; 
}

/*Estilos Banner Contacto*/
#intro-section-contacto {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-1.jpeg);
  width: $total;
  height: $bannerIP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:start;
  justify-content:auto;
  display:flex;
  margin-bottom: $alto; 
}

/*Estilos Banner Proyectos*/
#intro-section-proyectos {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-4.jpeg);
  width: $total;
  height: $bannerIP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:start;
  justify-content:auto;
  display:flex;
  margin-bottom: $alto; 
}

/*Estilos Banner Principios*/
#intro-section-principios {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-3.png);
  width: $total;
  height: $bannerIP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:start;
  justify-content:auto;
  display:flex;
  margin-bottom: $alto; 
}


