/*Estilos Todos los Banners*/

/*Estilos Banner Home*/
.banner-homepage {
  background-image:linear-gradient(180deg, $verde-oscuro, $sombra), url(../imgs/bannerhp.gif);
  width: $total;
  height: $bannerHP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:center;
  justify-content:auto;
  display:flex;
  align-items: center;
  margin-bottom: $alto; 
}

/*Estilos Banner Paginas Interiores*/
.banner-paginas-interiores{
  width: $total;
  height: $bannerIP;
  background-repeat: no-repeat round;
  background-size: $total;
  text-align:start;
  justify-content:auto;
  display:flex;
  margin-bottom: $alto; 
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra);
}

/*Estilos Banner Nosotros*/
.banner-nosotros {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-2.jpeg);
}

/*Estilos Banner Contacto*/
.banner-contacto {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-1.jpeg);
}

/*Fondo Proyectos*/
.banner-proyectos {
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-4.jpeg);
}

/*Fondo Principios*/
.banner-principios{
  background-image:linear-gradient(0deg, $verde-oscuro, $sombra), url(../imgs/banner-3.png);
}
