/*Estilos Footer*/
.footer{
  background-color: $verde-oscuro;
  height: $footer;
  width: $total;
  display:flex;
  margin-top: $alto;
}
.footer-container{
    background-color: $verde-oscuro;
    height: $footer;
    width: $total;
    display:flex;
    justify-content: center;
}

.nav-list-footer {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
  justify-content: center;
  column-gap:50px;
}
