//Fuente 
$fuente: "Montserrat";

// Paleta de colores
$verde-oscuro:#006D77;
$verde-claro:#83c5be;
$blanco:#FFF;
$sombra:rgba(0,0,0,0.2);

// Tamaños de fuentes
$fuente-banner:42px;
$fuente-titulo:36px;
$fuente-subtitulo:24px;
$fuente-parrafo:18px;

// Separaciones
$separacion:61px;

// Margenes
$alto:50px;
$bajo:20px;

//Alturas container
$bannerHP:700px;
$bannerIP: 300px;
$footer:165px;

//Ancho de pantalla
$total:100%;
$medio:80%;

//Weight de fuente
$weight:400px;

//Interlineado
$i-alto:60px;
$i-medio:50px;
$i-bajo:20px;